* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-height: 100%;
  max-width: 100vw;
  overflow: hidden;
  position: relative;

  background: url("../public/bg.jpeg"), #201f1f;

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
